@font-face {
  font-family: 'Arimo';
  src: url('Arimo-Regular.ttf');
}
body {
  font-size: 18px;
  font-family: Arimo, helvetica, sans-serif;
  color: rgb(37, 37, 37);
  margin: 0px;
}
a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}
#about {
  background-color: rgb(135, 123, 185);
  color: #fbd2ce;
  padding: 40px;
  box-shadow: inset 0px 6px 4px -5px rgba(0, 0, 0, 0.4);
}
#about p {
  font-size: 16px;
  letter-spacing: 1px;
  max-width: 550px;
  line-height: 1.4;
}
#about h1 {
  font-size: 22px;
  margin: 25px 0px;
  letter-spacing: 1px;
  font-weight: normal;
}
#about h2 {
  font-size: 18px;
  margin: 40px 0px;
  letter-spacing: 1px;
  font-weight: normal;
}
#about a {
  color: #fbd2ce;
  text-decoration: none;
  letter-spacing: 1px;
}
#about a:hover {
  text-decoration: underline;
}
.border {
  color: #fbd2ce;
  border: 2px solid;
  text-decoration: none;
  padding: 6px;
  letter-spacing: 1px;
  margin: 10px 5px 10px 0px;
  display: inline-block;
}
.border:hover {
  background-color: #fbd2ce;
  color: rgb(39, 55, 138) !important;
  border: 2px solid #fbd2ce;
  text-decoration: none !important;
}
#about p:last-of-type {
  font-size: 12px;
  margin-top: 50px;
}
#top_about {
  background-image: none;
  background-color: #bb9397;
}
#top_store {
  background-image: none;
  background-color: #eaaca5;
}
#top_start {
  background-image: none;
  background-color: #f1b3ab;
}

/*.episode {
  height: 40px;
  cursor: pointer;
  position: relative;
	overflow: hidden;
  background-image: url(spritesheet.png);
  background-repeat: repeat;
}*/


/*.episode:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.episode:nth-child(odd):before {
background-position:44%;
}
.episode:nth-child(even):before {
background-position:53%;
}*/

.episode {
  height: 40px;
  cursor: pointer;
  position: relative;
  background-image: url(spritesheet-patterns.png);
  background-repeat: repeat;
}
.pattern-01 {
  background-position: 0 0;
}
.pattern-02 {
  background-position: 0 -50px;
}
.pattern-03 {
  background-position: 0 -100px;
}
.pattern-04 {
  background-position: 0 -150px;
}
.pattern-05 {
  background-position: 0 -200px;
}
.pattern-06 {
  background-position: 0 -250px;
}
.pattern-07 {
  background-position: 0 -300px;
}
.pattern-08 {
  background-position: 0 -350px;
}
.pattern-09 {
  background-position: 0 -400px;
}
.pattern-10 {
  background-position: 0 -450px;
}
.pattern-11 {
  background-position: 0 -500px;
}
.pattern-12 {
  background-position: 0 -550px;
}
.pattern-13 {
  background-position: 0 -600px;
}
.pattern-14 {
  background-position: 0 -650px;
}
.pattern-15 {
  background-position: 0 -700px;
}
.pattern-16 {
  background-position: 0 -750px;
}
.pattern-17 {
  background-position: 0 -800px;
}
.pattern-18 {
  background-position: 0 -850px;
}

#ch0act02_cr {
  background-color: #AEB0D7;
}
#ch0act02_ep {
  background-color: #B6CFEE;
}
#ch0act02_2_17 {
  background-color: #B3D4DD;
}
#ch0act02_2_16 {
  background-color: #87B5C4;
}
#ch0act02_2_15 {
  background-color: #6FA1CE;
}
#ch0act02_2_14 {
  background-color: #6F99D1;
}
#ch0act02_2_13 {
  background-color: #618980;
}
#ch0act02_2_12 {
  background-color: #71A07E;
}
#ch0act02_2_11 {
  background-color: #ADD5CC;
}
#ch0act02_2_10 {
  background-color: #CCF0E6;
}
#ch0act02_2_09 {
  background-color: #91B8CA;
}
#ch0act02_ss {
  background-color: #B8E1EE;
}
#ch0act02_2_08 {
  background-color: #C4F0F6;
}
#ch0act02_2_07 {
  background-color: #DFF5E6;
}
#ch0act02_2_06 {
  background-color: #EFC89D;
}
#ch0act02_2_05 {
  background-color: #F8DB8A;
}
#ch0act02_2_04 {
  background-color: #E3C7A2;
}
#ch0act02_2_03 {
  background-color: #D7B087;
}
#ch0act02_2_02 {
  background-color: #EFA580;
}
#ch0act02_2_01 {
  background-color: #E6667D;
}
#ch0act01_ost {
  background-color: #F88FA2;
}
#ch0act01_cr {
  background-color: #F4C3BD;
}
#ch0act01_ep {
  background-color: #FFDCB9;
}
#ch0act01_1_14 {
  background-color: #FFE4D1;
}
#ch0act01_1_13 {
  background-color: #FFB4AF;
}
#ch0act01_1_12 {
  background-color: #FFA598;
}
#ch0act01_1_11 {
  background-color: #FF9288;
}
#ch0act01_1_10 {
  background-color: #FF8974;
}
#ch0act01_1_09 {
  background-color: #E65C5C;
}
#ch0act01_1_08 {
  background-color: #CF5C5C;
}
#ch0act01_1_07 {
  background-color: #61A1B5;
}
#ch0act01_1_06 {
  background-color: #40638C;
}
#ch0act01_1_05 {
  background-color: #33435A;
}
#ch0act01_1_04 {
  background-color: #FACEC0;
}
#ch0act01_1_03 {
  background-color: #D6928A;
}
#ch0act01_1_02 {
  background-color: #D7AB8F;
}
#ch0act01_1_01 {
  background-color: #b58b64;
}
.chapterTitle {
  padding: 7px 10px;
  margin: 2px;
  cursor: pointer;
  font-size: 18px;
  color: #f2f2f2;
  /*font-weight: normal;
	letter-spacing: 1px;*/
  width: 320px;
  position: absolute;
  -moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}

/*Title BG starting from the bottom up*/

.chapterTitle.groupTOP {
  background-color: #80CBB4;
}
.chapterTitle.group01 {
  background-color: #9877b3;
}
.chapterTitle.group02 {
  background-color: #bc80b6;
}
.chapterTitle.group03 {
  background-color: #da86b7;
}
.chapterTitle.group04 {
  background-color: #e990bc;
}
.chapterTitle.group05 {
  background-color: #f396a8;
}
.chapterTitle.group06 {
  background-color: #f7a691;
}
.chapterTitle.group07 {
  background-color: #f59b9a;
}
.chapterTitle.group08 {
  background-color: #f7a691;
}
.chapterTitle.group09 {
  background-color: #f8b389;
}
.chapterTitle.group10 {
  background-color: #eee183;
}
.chapterTitle.group11 {
  background-color: #cfdf75;
}

/*
@-moz-keyframes thumbnail{
from {background-position: 30px 40px;}
to {background-position: 0px 0px;}
}

@-webkit-keyframes thumbnail{
from {background-position: 30px 40px;}
to {background-position: 0px 0px;}
}

@keyframes thumbnail{
from {background-position: 30px 40px;}
to {background-position: 0px 0px;}
}

@-moz-keyframes thumbnail1{
from {background-position: 0px 0px;}
to {background-position: 30px -40px;}
}

@-webkit-keyframes thumbnail1{
from {background-position: 0px 0px;}
to {background-position: 30px -40px;}
}

@keyframes thumbnail1{
from {background-position: 0px 0px;}
to {background-position: 30px -40px;}
}*/

header {
  background-color: #BB9397;
  /*background-image: url(top-bg.png);
  background-size: cover;*/
  position: relative;
  min-height: 265px;
}

#masthead {
  margin: 37px;
  padding: 0 20px;
  position: absolute;
  width: 472px;
  height: 142px;
  /*background-color: #fbd2ce;*/
  background-image: url(title-bg.png);
  background-repeat: no-repeat;
  font-size: 35px;
  line-height: 1.1;
  z-index: 1;
}
#masthead p {
  color: #fff7dd;
  font-size: 20px;
  top: 80px;
  position: relative;
}
.content {
  position: relative;
  overflow: hidden;
}
.infobutton {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
}
.infobutton img {
  position: absolute;
  right: 14px;
  bottom: 14px;
  width: 32px;
}
.info {
  position: absolute;
  right: -50%;
  bottom: 0px;
  width: 50%;
  height: 100%;
  color: rgba(0, 0, 0, 0);
  transition: right 0.3s, color 0.2s 0.2s;
  background-color: #f2f2f2;
  z-index: 1001;
}
.on {
  right: 0px;
  bottom: 0px;
  color: rgb(37, 37, 37);
}
.info:before {
  content: "";
  width: 5px;
  height: 100%;
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  background: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  position: absolute;
  left: -5px;
}
.info h1 {
  font-size: 18px;
  margin: 40px;
  padding: 20px;
  border: 2px solid;
  -moz-box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.4);
  box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.4);
  font-weight: normal;
}
.info p {
  font-size: 14px;
  margin: 20px;
  margin: 20px 100px;
}
.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(39, 55, 138);
  position: fixed;
  right: 10px;
  top: 50%;
  margin-top: 25px;
  -moz-animation: pulse 0.3s alternate infinite;
  -webkit-animation: pulse 0.3s alternate infinite;
  animation: pulse 0.3s alternate infinite;
  display: none;
}
@-moz-keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
input {
  border: 2px solid #fbd2ce;
  background-color: rgba(0, 0, 0, 0);
  color: #fbd2ce;
  font-size: inherit;
  font-family: inherit;
  padding: 7px;
  margin: 12px 0px 0px;
  display: block;
}
input:focus {
  outline: none;
}
.button {
  cursor: pointer;
}
.button:hover {
  background-color: #fbd2ce;
  color: rgb(39, 55, 138);
}

/*Fancybox Styles*/

#links {
  position: fixed;
  margin: 10px auto;
  bottom: 0;
  width: 100%;
  list-style: none;
  text-align: center;
  z-index: 99999;
  padding: 0;
}
#links li {
  display: inline;
  padding: 0 5px;
}
#links li label {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
#links li.active label {
  background-color: white;
}
.fancybox-title {
  padding: 0 0 10px 0;
}
.fancybox-skin {
  background-color: #333333;
  border-radius: 0;
}
.fancybox-close {
  top: 10px;
  right: 10px;
  color: #666666;
  width: 60px;
  font-size: 14px;
  background-image: none;
  text-decoration: none;
}
.fancybox-close:hover {
  color: #EEEEEE;
}
.fancybox-title {
  position: absolute;
  top: 42px;
  left: 21px;
  color: #EEEEEE;
  text-shadow: 2px 2px 8px #333333;
}
.fancybox-nav span {
  top: 95%;
}
.hidden {
  display: none;
}

/*Video Header Styles*/

.header-video {
  position: relative;
  overflow: hidden;
  min-height: 265px;
}
.header-video iframe, .header-video video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.header-video iframe {
  height: 100%;
  width: 100%;
}
.header-video video {
  width: 100%;
}
.header-video__teaser-video {
  width: 100%;
  height: auto;
}
.header-video__media {
  width: 100%;
  height: auto;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  header {
height: 265px;
  }
  .header-video {
    position: relative;
    overflow: hidden;
    min-height: 265px;
  }
  .chapterTitle {
    width: 60%;
    font-size: 36px;
    padding: 10px;
  }
  .episode {
    height: 65px;
  }
  #about p {
    max-width: 100%;
  }
  #about a {
    font-size: 44px;
  }
}
