@charset "utf-8";
	.NormalCharacterStyle32
{
	font-family : Arimo;
	font-size : 20px;
	color : #FFF7DD;
	color : rgb(255, 247, 221);
}
.NormalCharacterStyle31
{
	font-family : Arimo;
	font-size : 20px;
	color : #FFF7DD;
	color : rgb(255, 247, 221);
}
.NormalCharacterStyle30
{
	font-family : Arimo;
	font-size : 20px;
	color : #FFF7DD;
	color : rgb(255, 247, 221);
}
.NormalCharacterStyle29
{
	font-family : Arimo;
	font-size : 20px;
	color : #FFF7DD;
	color : rgb(255, 247, 221);
}
.NormalCharacterStyle28
{
	font-family : Arimo;
	font-size : 20px;
	color : #FFF7DD;
	color : rgb(255, 247, 221);
}
.NormalCharacterStyle27
{
	font-family : Arimo;
	font-size : 20px;
	color : #FFF7DD;
	color : rgb(255, 247, 221);
}
.NormalCharacterStyle26
{
	font-family : Arimo;
	font-size : 20px;
	color : #FBD2CE;
	color : rgb(251, 210, 206);
}
.NormalCharacterStyle25
{
	font-family : Arimo;
	font-size : 20px;
}
.NormalCharacterStyle24
{
	font-family : Arimo;
	font-size : 20px;
	color : #FBD2CE;
	color : rgb(251, 210, 206);
}
.NormalCharacterStyle23
{
	font-family : Arimo;
	font-size : 20px;
	color : #FBD2CE;
	color : rgb(251, 210, 206);
}
.NormalCharacterStyle22
{
	font-family : Arimo;
	font-size : 20px;
	color : #FBD2CE;
	color : rgb(251, 210, 206);
}
.NormalCharacterStyle21
{
	font-family : Arimo;
	font-size : 20px;
	color : #FBD2CE;
	color : rgb(251, 210, 206);
}
.NormalCharacterStyle20
{
	font-family : Arimo;
	font-size : 20px;
	color : #FFF7DD;
	color : rgb(255, 247, 221);
}
.NormalCharacterStyle19
{
	font-family : Arimo;
	font-size : 20px;
	color : #FFF7DD;
	color : rgb(255, 247, 221);
}
.NormalCharacterStyle18
{
	font-family : Arimo;
	font-size : 20px;
	color : #FFF7DD;
	color : rgb(255, 247, 221);
}
.NormalCharacterStyle17
{
	font-family : Arimo;
	font-size : 20px;
	color : #FFF7DD;
	color : rgb(255, 247, 221);
}
.NormalCharacterStyle16
{
	font-family : Arimo;
	font-size : 20px;
	color : #FFF7DD;
	color : rgb(255, 247, 221);
}
.NormalCharacterStyle15
{
	font-family : Arimo;
	font-size : 20px;
	color : #FFF7DD;
	color : rgb(255, 247, 221);
}
.NormalCharacterStyle14
{
	font-family : Arimo;
	font-size : 20px;
	color : #FBD2CE;
	color : rgb(251, 210, 206);
}
.NormalCharacterStyle13
{
	font-family : Arimo;
	font-size : 20px;
	color : #FBD2CE;
	color : rgb(251, 210, 206);
}
.NormalCharacterStyle12
{
	font-family : Arimo;
	font-size : 20px;
	color : #FBD2CE;
	color : rgb(251, 210, 206);
}
.NormalCharacterStyle11
{
	font-family : Arimo;
	font-size : 20px;
	color : #FBD2CE;
	color : rgb(251, 210, 206);
}
.NormalCharacterStyle10
{
	font-family : Arimo;
	font-size : 20px;
	color : #FBD2CE;
	color : rgb(251, 210, 206);
}
.NormalCharacterStyle9
{
	font-family : Arimo;
	font-size : 20px;
	color : #00FF24;
	color : rgb(0, 255, 36);
}
.NormalCharacterStyle8
{
	font-family : Arimo;
	font-size : 16px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	opacity : 0.25;
	filter: alpha(opacity=25) progid:DXImageTransform.Microsoft.Alpha(opacity=25) ;
}
.NormalCharacterStyle7
{
	font-family : Arimo;
	font-size : 20px;
}
.NormalCharacterStyle6
{
	font-family : Arimo;
	font-size : 20px;
}
.NormalCharacterStyle5
{
	font-family : Arimo;
	font-size : 20px;
}
.NormalCharacterStyle4
{
	font-family : Arimo;
	font-size : 20px;
}
.NormalCharacterStyle3
{
	font-family : Arimo;
	font-size : 20px;
}
.NormalCharacterStyle2
{
	font-family : Arimo;
	font-size : 20px;
}
.NormalCharacterStyle1
{
	font-family : Arimo;
	font-size : 20px;
}
.NormalCharacterStyle
{
	font-family : Arimo;
	font-size : 20px;
}
.sound_cloud_1_
{
	background-image : url(sound_cloud_1_.png);
	background-repeat : no-repeat;
}
.sound_cloud_2_
{
	background-image : url(sound_cloud_2_.png);
	background-repeat : no-repeat;
}
